



<p>
  Servicio 1, enviar esta información y obtener la ubicación de la nave en el caso que se pueda y el mensaje original
</p>

<input #nombreSatelitePeticion placeholder="Nombre de satélite"/>
<input #distanciaPeticion placeholder="distancia"/>
<input #mensajesPeticion placeholder="Mensajes a enviar"/>
<button (click)="agregarItem(nombreSatelitePeticion.value, distanciaPeticion.value, mensajesPeticion.value)" class="btn btn-success justify-content-center">Agregar datos de consulta</button>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre satélite</th>
      <th scope="col">Distancia</th>
      <th scope="col">Mensaje recibido</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let info of satelites; index as i">
      <td>{{i}}</td>
      <td>{{info.name}}</td>
      <td>{{info.distance}}</td>
      <td>[ {{info.message}} ]</td>
    </tr>
  </tbody>
</table>

<button (click)="vaciarTodo()" class="btn btn-danger justify-content-center">Borrar todos los elementos de la lista</button>
<button (click)="enviarPeticionDeUbicacion()" class="btn btn-success justify-content-center">Enviar consulta</button>

<p>RESULTADO DE LA PETICIÓN</p>
<p>{{resultadoServicio1}}</p>
<br/>

<p>
  Servicio 2, visualizar y actualizar la posición de los satélites
</p>
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">Nombre satélite</th>
      <th scope="col">Posición X</th>
      <th scope="col">Posición Y</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let satelite of listaSatelites">
      <td>{{satelite.nombre}}</td>
      <td>{{satelite.ubicacion.x}}</td>
      <td>{{satelite.ubicacion.y}}</td>
    </tr>
  </tbody>
</table>
<p>Modificar la posición de 1 satelite indicando su nombre y la posición nueva</p>

  <input #posicionSatelite placeholder="Nombre de satélite">
  <input #posicionX placeholder="Posicion en X">
  <input #posicionY placeholder="Posicion en Y">
  <button class="btn btn-info" (click)="actualizarPosicion(posicionSatelite.value, posicionX.value, posicionY.value)">Actualizar posición</button>










<p>
  Servicio 3, cargar para 1 satelite la distancia y el mensaje emitido por la nave
</p>

<input #nombreSateliteAActualizar placeholder="Nombre de satélite"/>
<input #distanciaAActualizar placeholder="distancia"/>
<input #mensajesAActualizar placeholder="Mensajes a enviar"/>
<button (click)="agregarItemDeDatosSobreNave(nombreSateliteAActualizar.value, distanciaAActualizar.value, mensajesAActualizar.value)" class="btn btn-success justify-content-center">Agregar datos</button>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">Nombre satélite</th>
      <th scope="col">Distancia</th>
      <th scope="col">Mensaje recibido</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of datosDeSatelites">
      <td>{{data.satelite}}</td>
      <td>{{data.distancia}}</td>
      <td>[ {{data.mensaje}} ]</td>
    </tr>
  </tbody>
</table>

<button (click)="obtenerPosicioNDeNaveYMensajeMedianteMensajesAlmacenados()" class="btn btn-success justify-content-center">Enviar consulta</button>
<p>{{respuestaServicio3}}</p>
