<p>
  Servicio 1, enviar esta información y obtener la ubicación de la nave en el caso que se pueda y el mensaje original
</p>
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">Nombre satélite</th>
      <th scope="col">Distancia</th>
      <th scope="col">Mensaje recibido</th>
      <th scope="col">Palabra nueva a agregar</th>
      <th scope="col">Limpiar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>kenobi</td>
      <td>100.0</td>
      <td>["este", "", "", "mensaje", ""]</td>
      <td><button class="btn btn-info">Agregar palabra</button></td>
      <td><button class="btn btn-danger">Limpiar palabras</button></td>
    </tr>
    <tr>
      <td>skywalker</td>
      <td>50.0</td>
      <td>["", "es", "", "mensaje", "secreto"]</td>
      <td><button class="btn btn-info">Agregar palabra</button></td>
      <td><button class="btn btn-danger">Limpiar palabras</button></td>
    </tr>
    <tr>
      <td>sato</td>
      <td>25.0</td>
      <td>["", "", "un", "", "secreto"]</td>
      <td><button class="btn btn-info">Agregar palabra</button></td>
      <td><button class="btn btn-danger">Limpiar palabras</button></td>
    </tr>
  </tbody>
</table>

<button class="btn btn-success justify-content-center">Enviar consulta</button>
<p>
  Servicio 2, visualizar y actualizar la posición de los satélites
</p>
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">Nombre satélite</th>
      <th scope="col">Posición X</th>
      <th scope="col">Posición Y</th>
      <th scope="col">Actualizar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>kenobi</td>
      <td><input type="number" value="50.0"/></td>
      <td><input type="number" value="50.0"/></td>
      <td><button class="btn btn-info">Actualizar posición</button></td>
    </tr>
    <tr>
      <td>skywalker</td>
      <td><input type="number" value="50.0"/></td>
      <td><input type="number" value="50.0"/></td>
      <td><button class="btn btn-info">Actualizar posición</button></td>
    </tr>
    <tr>
      <td>sato</td>
      <td><input type="number" value="50.0"/></td>
      <td><input type="number" value="50.0"/></td>
      <td><button class="btn btn-info">Actualizar posición</button></td>
    </tr>
  </tbody>
</table>
<p>
  Servicio 3, cargar para 1 satelite la dsitancia y el mensaje emitido por la nave
</p>
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">Nombre satélite</th>
      <th scope="col">Distancia</th>
      <th scope="col">Mensaje recibido</th>
      <th scope="col">Palabra nueva a agregar</th>
      <th scope="col">Actualizar datos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>kenobi</td>
      <td>100.0</td>
      <td>["este", "", "", "mensaje", ""]</td>
      <td><button class="btn btn-info">Agregar palabra</button></td>
      <td><button class="btn btn-info">Actualizar datos</button></td>
    </tr>
    <tr>
      <td>skywalker</td>
      <td>50.0</td>
      <td>["", "es", "", "mensaje", "secreto"]</td>
      <td><button class="btn btn-info">Agregar palabra</button></td>
      <td><button class="btn btn-info">Actualizar datos</button></td>
    </tr>
    <tr>
      <td>sato</td>
      <td>25.0</td>
      <td>["", "", "un", "", "secreto"]</td>
      <td><button class="btn btn-info">Agregar palabra</button></td>
      <td><button class="btn btn-info">Actualizar datos</button></td>
    </tr>
  </tbody>
</table>

<button class="btn btn-success justify-content-center">Enviar consulta</button>

